[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langchain = "*"
streamlit = "*"
google-generativeai = "*"
tiktoken = "*"
altair = "*"
python-dotenv = "*"
pypdf2 = "*"
langchain-community = "*"
faiss-cpu = "*"
langgraph = "*"

[dev-packages]

[requires]
python_version = "3.13"

[scripts]
main = "streamlit run main.py"
